In [1]:
music_directors = ['ARR', 'Aniruth', 'Yuvan', 'Deva']

In [4]:
print(f'Mr. {music_directors[0]}')
print(f'Mr. {music_directors[1]}')
print(f'Mr. {music_directors[2]}')
print(f'Mr. {music_directors[3]}')

Mr. ARR
Mr. Aniruth
Mr. Yuvan
Mr. Deva

In [5]:
price = [100, 988, 652, 85]
price

[100, 988, 652, 85]

## While Statements

1. Initialize the Count
2. Verify the Condition
3. Do the Work
4. Increment the Count

In [7]:
#initialize the count
count = 1

# Verify the conditon
while count<=10:
    
    # Do the Work
    print(f'{count} Hi')
    
    # Increment the Count
    count = count + 1

1 Hi
2 Hi
3 Hi
4 Hi
5 Hi
6 Hi
7 Hi
8 Hi
9 Hi
10 Hi

In [8]:
music_directors = ['ARR', 'Aniruth', 'Yuvan', 'Deva']

In [9]:
print(f'Mr. {music_directors[0]}')

Mr. ARR

In [12]:
count = 0

while count< 4:
    
    print(f'Mr. {music_directors[count]}')
    
    count = count + 1

Mr. ARR
Mr. Aniruth
Mr. Yuvan
Mr. Deva

In [13]:
price = [100, 988, 652, 85]
price

[100, 988, 652, 85]

In [16]:
len(price)

4

In [15]:
tax = price[0] * (18/100)
total = price[0] + tax
total

118.0

In [18]:
count = 0

while count < len(price):
    
    tax = price[count] * (18/100)
    total = price[count] + tax
    print(total)
    
    count += 1

118.0
1165.84
769.36
100.3

In [1]:
#initialize the count
count = 1

# Verify the conditon
while count<=10:
    
    # Do the Work
    print(f'{count} Hi')
    
    # Increment the Count
    count = count + 1

1 Hi
2 Hi
3 Hi
4 Hi
5 Hi
6 Hi
7 Hi
8 Hi
9 Hi
10 Hi

## Break

In [2]:
fruits = ['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango']

In [6]:
count = 0

while count<len(fruits):
    
    print(fruits[count])
    
    if fruits[count] == 'Orange':
        print('Orage is available')
        
        break
    
    count = count + 1

Apple

## Continue

In [2]:
music_directors = ['ARR', 'Aniruth', 'MS.Viswanathan', 'Yuvan', 'Deva']

In [3]:
music_directors

['ARR', 'Aniruth', 'MS.Viswanathan', 'Yuvan', 'Deva']

In [5]:
count = 0

while count<len(music_directors):
    
    
    
    if music_directors[count] == 'MS.Viswanathan':
        count = count + 1
        continue
        
    print(f'Award goes to {music_directors[count]}')
    
    count = count + 1

Award goes to ARR
Award goes to Aniruth
Award goes to Yuvan
Award goes to Deva

## For Loop

In [6]:
music_directors = ['ARR', 'Aniruth', 'MS.Viswanathan', 'Yuvan', 'Deva']
music_directors

['ARR', 'Aniruth', 'MS.Viswanathan', 'Yuvan', 'Deva']

In [8]:
for music_director in music_directors:
    print(f'Mr.{music_director}')

Mr.ARR
Mr.Aniruth
Mr.MS.Viswanathan
Mr.Yuvan
Mr.Deva

In [9]:
prices = [100, 988, 652, 85]
prices

[100, 988, 652, 85]

In [16]:
len(price)

4

In [15]:
tax = price[0] * (18/100)
total = price[0] + tax
total

118.0

In [11]:
for price in prices:
    tax = price * (18/100)
    total = price + tax
    print(total)

118.0
1165.84
769.36
100.3

In [12]:
fruits = ['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango']

In [14]:
for fruit in fruits:
    print(fruit)
    
    if fruit == 'Kiwi':
        print('Kiwi is Available')
        break

Apple
Banana
Orange
Kiwi
Kiwi is Available

In [18]:
for music_director in music_directors:
   
    if(music_director == 'MS.Viswanathan'):
        continue
        
    print(f'Award goes to {music_director}')

Award goes to ARR
Award goes to Aniruth
Award goes to Yuvan
Award goes to Deva

## Range

In [19]:
 # Using Stop Number

In [20]:
range(101)

range(0, 101)

In [22]:
# Using Start and Stop Number

In [23]:
range(1, 11)

range(1, 11)

In [25]:
# Using Step number

In [27]:
list(range(1, 101, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [24]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

## Nested Loops

In [30]:
vegs = ['Carrot', 'Onion', 'Potato', 'Tomato']
fruits = ['Apple', 'Kiwi', 'Banana', 'Pappaya']
snacks = ['Lays', 'Dairy Milk', 'Coca Cola']

In [31]:
shopping_cart = [vegs, fruits, snacks]

In [32]:
shopping_cart

[['Carrot', 'Onion', 'Potato', 'Tomato'],
 ['Apple', 'Kiwi', 'Banana', 'Pappaya'],
 ['Lays', 'Dairy Milk', 'Coca Cola']]

In [33]:
for fruit in fruits:
    print(fruit)

Apple
Kiwi
Banana
Pappaya

In [36]:
for cart in shopping_cart:
    for item in cart:
        print(item)

Carrot
Onion
Potato
Tomato
Apple
Kiwi
Banana
Pappaya
Lays
Dairy Milk
Coca Cola

## For...Else Function

In [1]:
books = ['Tamil','English', 'Maths', 'Science', 'Social']
books

['Tamil', 'English', 'Maths', 'Science', 'Social']

In [2]:
for book in books:
    print(book)

Tamil
English
Maths
Science
Social

In [3]:
for book in books:
    if book == 'Maths':
        print('Maths Available')

Maths Available

In [5]:
books = ['Tamil','English', 'Maths', 'Science', 'Social']
books

['Tamil', 'English', 'Maths', 'Science', 'Social']

In [9]:
for book in books:
    if book == 'Maths':
        print('Maths Available')
        break
else:
    print('Maths is Not Available')

Maths Available

In [10]:
for book in books:
    if book == 'Geography':
        print('Geography Available')
        break
else:
    print('Geography is Not Available')

Geography is Not Available