In [1]:
users = []

In [2]:
def add_user():
    username = input('Enter the Name: ')
    phone = input('Enter the Phone No: ')
    email = input('Enter the Mail ID: ')
    
    user = {
        'username': username,
        'phone': phone,
        'email': email
    }
    
    users.append(user)
    
def remove_user(name):
    for item in users:
        if item['username'] == name:
            print('running')
            users.remove(item)

In [6]:
add_user()

Enter the Name: karthi
Enter the Phone No: 234456451
Enter the Mail ID: karthi@gmail.com

In [11]:
users

[{'username': 'parthi', 'phone': '4645645', 'email': 'parthi@gmail.com'}]

In [10]:
remove_user('karthi')

running

## Calculation

In [12]:
length = 200
breath = 500

area = length * breath
area

100000

In [32]:
def calc_rect_area(length, breath):

    area = length * breath
    return area

In [33]:
x = calc_rect_area(300, 500)

In [34]:
import math

In [35]:
def calc_scirc_area(radius):

    area = (math.pi * radius ** 2)/2
    return area

In [36]:
y = calc_scirc_area(50)

In [37]:
x

150000

In [38]:
y

3926.9908169872415

In [39]:
x + y

153926.99081698724

## Default Parameter

In [51]:
# Defining a Function
def register_student(name, area, age=15, city='Cuddalore'):
    
    print(f'''
    Student {name} of age: {age}
    from {area} of {city} has been registered
    ''')

In [56]:
register_student('ravi', 'semmandalam', city='Pondicherry' )

    Student ravi of age: 15
    from semmandalam of Pondicherry has been registered

In [47]:
register_student('ragul', 'Kondur', 'Cuddalore')

    Student ragul of age: 15
    from Kondur of Cuddalore has been registered

In [48]:
register_student('veera', 'Vella gate', 'Cuddalore')

    Student veera of age: 15
    from Vella gate of Cuddalore has been registered

In [58]:
# Calling a Function
register_student('parthi',  'kondur',  age=18)

    Student parthi of age: 18
    from kondur of Cuddalore has been registered

## Arbitrary Arguments

## find the sum of given numbers

In [72]:
def total(*value):
    print(sum(value))

In [73]:
total(1, 5, 89)

95

In [60]:
total(10, 20)

30

In [61]:
total(10, 20, 30)

TypeError: total() takes 2 positional arguments but 3 were given

## 1. Using Function as an Object

In [74]:
def calc_rect_area(length, breath):

    area = length * breath
    return area

In [75]:
calc_rect_area(20, 10)

200

In [76]:
Rect = calc_rect_area

In [77]:
type(Rect)

function

In [78]:
Rect(10, 20)

200

## Function as Argument

In [79]:
def gst(percent):
    return percent/100

In [80]:
gst(18)

0.18

In [81]:
def total_price(price, percent, func):
    
    tax = price * func(percent)
    total_price = price + tax
    return total_price

In [82]:
total_price(2500, 18, gst)

2950.0

In [83]:
def upper_case(paragraph):
    return paragraph.upper()

In [84]:
def lower_case(paragraph):
    return paragraph.lower()

In [85]:
def welcome(func, message):
    return func(message)

In [86]:
welcome(upper_case, 'Hello How Are You?')

'HELLO HOW ARE YOU?'

In [87]:
welcome(lower_case, 'Hello How Are You?')

'hello how are you?'

## Return a Function from Another Function

In [90]:
def multiplier(x):
    
    def multi(y):
        return x*y
    
    return multi

In [92]:
m = multiplier(10)

In [93]:
m(20)

200

## Decorators

In [106]:
a = input('Enter the Value of A: ')
b = input('Enter the Value of B: ')

Enter the Value of A: 10.56
Enter the Value of B: 5

60

In [109]:
def check_integer(*arg):
    all_int = True

    for num in arg:
        for char in num:
            if char not in '0123456789':
                all_int=False
                break


    return all_int

In [110]:
check_integer(a, b)

False

In [149]:
def input_validation(func):
    
    def check_integer(*args):
        all_int = True

        for num in args:
            for char in num:
                if char not in '0123456789':
                    all_int=False
                    break

        if all_int == True:
            ret = func(*args)
        else:
            ret = 'Please Check the Input'

        return ret 

    return check_integer

In [150]:
@input_validation
def addition(a, b):
    return int(a) + int(b)

In [153]:
a = input('Enter the Value of A: ')
b = input('Enter the Value of B: ')

Enter the Value of A: 25.2
Enter the Value of B: 20

In [154]:
addition(a, b)

'Please Check the Input'